@use '../abstracts' as a;

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

section {
  flex-grow: 1;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.page-title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
