@use '../abstracts' as a;

.home-arrow {
  &.left-arrow {
    bottom: 10.5rem;
    top: auto;
  }
  &.right-arrow {
    bottom: 10.5rem;
    top: auto;
  }
  &.down-arrow {
    bottom: 4.5rem;
    top: auto;
  }
}

.name {
  position: relative;
  bottom: 4rem;
}

.page-links {
  &:hover h3 {
    color: a.$green;
  }
}

@media (max-width: 35rem) {
  .left-arrow.home-arrow {
    h3 {
      position: relative;
      transform: rotate(-90deg);
      left: -3rem;
    }
  }

  .right-arrow.home-arrow {
    h3 {
      position: relative;
      transform: rotate(90deg);
      left: 3rem;
    }
  }
}

@media (min-width: 44rem) {
  .links {
    position: relative;
    width: min(100%, 100rem);
    @include a.flex(row, space-around);
  }

  .projects-link {
    position: relative;
    top: 0.68rem;
  }

  .home-arrow {
    position: static;
  }

  .name {
    position: static;
  }
}
