.left-arrow {
  transform: rotate(90deg);
}

.right-arrow {
  transform: rotate(-90deg);
}

.up-arrow {
  transform: rotate(180deg);
}

.down-arrow {
}

.small-arrow {
  width: 1.5rem;
  height: 0.5rem;
}

.large-arrow {
  width: 2.6rem;
  height: 1rem;
}
